In [59]:
import pandas as pd
pd.set_option('display.max_rows', 30)

all_tv_shows = pd.read_csv("All_Streaming_Shows.csv")

all_tv_shows

,Series Title,Year Released,Content Rating,IMDB Rating,R Rating,Genre,Description,No of Seasons,Streaming Platform
0,Breaking Bad,2008,18+,9.5,100,"Crime,Drama","When Walter White, a New Mexico chemistry teac...",5Seasons,Netflix
1,Game of Thrones,2011,18+,9.3,99,"Action & Adventure,Drama",Seven noble families fight for control of the ...,8Seasons,"HBO MAX,HBO"
2,Rick and Morty,2013,18+,9.2,97,"Animation,Comedy",Rick is a mentally-unbalanced but scientifical...,4Seasons,"Free Services,HBO MAX,Hulu"
3,Stranger Things,2016,16+,8.8,96,"Drama,Fantasy","When a young boy vanishes, a small town uncove...",3Seasons,Netflix
4,The Boys,2019,18+,8.7,95,"Action & Adventure,Comedy",A group of vigilantes known informally as “The...,2Seasons,Prime Video
...,...,...,...,...,...,...,...,...,...
12348,A Fishing Story with Ronnie Green,2017,NaN,NaN,-1,"2017,Prime Video",A Fishing Story with Ronnie Green has one or m...,2Seasons,"Prime Video,fuboTV"
12349,CMT Most Shocking,2003,NaN,NaN,-1,-1,-1,-1,-1
12350,NHL Road to the Outdoor Classics,2016,NaN,NaN,-1,"2016,Prime Video",Road to the NHL Outdoor Classics takes us deep...,1Season,"Prime Video,Epix"
12351,Addy Media,2018,NaN,NaN,-1,"2018,Prime Video",Addy Media has one or more episodes streaming ...,1Season,Prime Video
12352,My Dream Derelict Home,2014,NaN,NaN,-1,"2014,Free Services",My Dream Derelict Home has one or more episode...,1Season,"Free Services,Prime Video"

In [4]:
all_tv_shows.head(10)

,Series Title,Year Released,Content Rating,IMDB Rating,R Rating,Genre,Description,No of Seasons,Streaming Platform
0,Breaking Bad,2008,18+,9.5,100,"Crime,Drama","When Walter White, a New Mexico chemistry teac...",5Seasons,Netflix
1,Game of Thrones,2011,18+,9.3,99,"Action & Adventure,Drama",Seven noble families fight for control of the ...,8Seasons,"HBO MAX,HBO"
2,Rick and Morty,2013,18+,9.2,97,"Animation,Comedy",Rick is a mentally-unbalanced but scientifical...,4Seasons,"Free Services,HBO MAX,Hulu"
3,Stranger Things,2016,16+,8.8,96,"Drama,Fantasy","When a young boy vanishes, a small town uncove...",3Seasons,Netflix
4,The Boys,2019,18+,8.7,95,"Action & Adventure,Comedy",A group of vigilantes known informally as “The...,2Seasons,Prime Video
5,Dark,2017,16+,8.8,95,"Crime,Drama",A missing child causes four families to help e...,3Seasons,Netflix
6,Chernobyl,2019,18+,9.4,95,"Drama,History",The true story of one of the worst man-made ca...,1Season,"HBO MAX,HBO"
7,Sherlock,2010,16+,9.1,94,"Action & Adventure,Crime",A modern update finds the famous sleuth and hi...,4Seasons,Netflix
8,Fargo,2014,18+,8.9,94,"Crime,Drama",A close-knit anthology series dealing with sto...,3Seasons,Hulu
9,Avatar: The Last Airbender,2005,7+,9.2,94,"Action & Adventure,Animation","In a war-torn world of elemental magic, a youn...",3Seasons,"Netflix,CBS All Access,Hoopla"

In [3]:
all_tv_shows.tail()

,Series Title,Year Released,Content Rating,IMDB Rating,R Rating,Genre,Description,No of Seasons,Streaming Platform
12348,A Fishing Story with Ronnie Green,2017,NaN,NaN,-1,"2017,Prime Video",A Fishing Story with Ronnie Green has one or m...,2Seasons,"Prime Video,fuboTV"
12349,CMT Most Shocking,2003,NaN,NaN,-1,-1,-1,-1,-1
12350,NHL Road to the Outdoor Classics,2016,NaN,NaN,-1,"2016,Prime Video",Road to the NHL Outdoor Classics takes us deep...,1Season,"Prime Video,Epix"
12351,Addy Media,2018,NaN,NaN,-1,"2018,Prime Video",Addy Media has one or more episodes streaming ...,1Season,Prime Video
12352,My Dream Derelict Home,2014,NaN,NaN,-1,"2014,Free Services",My Dream Derelict Home has one or more episode...,1Season,"Free Services,Prime Video"

In [5]:
all_tv_shows.shape

(12353, 9)

In [6]:
all_tv_shows.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12353 entries, 0 to 12352
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Series Title        12353 non-null  object
 1   Year Released       12353 non-null  int64
 2   Content Rating      7232 non-null   object
 3   IMDB Rating         10207 non-null  float64
 4   R Rating            12353 non-null  int64
 5   Genre               12353 non-null  object
 6   Description         12353 non-null  object
 7   No of Seasons       12353 non-null  object
 8   Streaming Platform  10370 non-null  object
dtypes: float64(1), int64(2), object(6)
memory usage: 868.7+ KB

In [8]:
all_tv_shows["R Rating"].unique()

array([100,  99,  97,  96,  95,  94,  93,  92,  91,  90,  89,  88,  87,
        86,  85,  84,  83,  82,  81,  80,  79,  78,  77,  76,  75,  74,
        73,  72,  71,  70,  69,  68,  67,  66,  65,  64,  63,  62,  61,
        60,  59,  58,  57,  56,  55,  54,  53,  52,  51,  50,  49,  48,
        47,  46,  45,  44,  43,  42,  41,  40,  39,  38,  37,  36,  35,
        34,  33,  32,  31,  30,  29,  28,  27,  26,  25,  24,  23,  22,
        21,  20,  19,  18,  17,  16,  15,  13,  10,  -1], dtype=int64)

In [9]:
all_tv_shows.describe()

       Year Released   IMDB Rating      R Rating
count   12353.000000  10207.000000  12353.000000
mean     2010.495345      6.973156     43.982029
std        11.240943      1.149726     20.660914
min      1901.000000      1.000000     -1.000000
25%      2009.000000      6.400000     33.000000
50%      2014.000000      7.200000     46.000000
75%      2017.000000      7.800000     58.000000
max      2020.000000      9.700000    100.000000

In [10]:
all_tv_shows.describe(include = "O")

,Series Title,Content Rating,Genre,Description,No of Seasons,Streaming Platform
count,12353,7232,12353,12353,12353,10370
unique,12109,5,858,11875,94,530
top,Kingdom,16+,-1,-1,1Season,Netflix
freq,4,2581,479,479,5204,1427

In [12]:
all_tv_shows["No of Seasons"] == "1Season #this create a boolan mask with the corresponding input

0        False
1        False
2        False
3        False
4        False
         ...
12348    False
12349    False
12350     True
12351     True
12352     True
Name: No of Seasons, Length: 12353, dtype: bool

In [14]:
#sample of a boolan mas using a smaller dataset

myvals = {"names":["sandra", "Kunle", "sheriff", "ade"], "ages":[20,32,14,19], 
         "rating":["5-stars", "3-stars", "2-stars", "1-star"]}


df = pd.DataFrame(myvals)

df

     names  ages   rating
0   sandra    20  5-stars
1    Kunle    32  3-stars
2  sheriff    14  2-stars
3      ade    19   1-star

In [15]:
df["ages"] >= 20

0     True
1     True
2    False
3    False
Name: ages, dtype: bool

In [16]:
ages_condition_mask = df["ages"] <= 20

df[ages_condition_mask]

     names  ages   rating
0   sandra    20  5-stars
2  sheriff    14  2-stars
3      ade    19   1-star

In [17]:
seasons_conditional_mask = all_tv_shows["No of Seasons"] == "1Season"

all_tv_shows[seasons_conditional_mask]

,Series Title,Year Released,Content Rating,IMDB Rating,R Rating,Genre,Description,No of Seasons,Streaming Platform
6,Chernobyl,2019,18+,9.4,95,"Drama,History",The true story of one of the worst man-made ca...,1Season,"HBO MAX,HBO"
25,The Mandalorian,2019,16+,8.7,91,"Action & Adventure,Science-Fiction","After the fall of the Galactic Empire, lawless...",1Season,Disney+
42,Firefly,2002,16+,9.0,90,"Drama,Science-Fiction","In the year 2517, after the arrival of humans ...",1Season,Hulu
48,The Last Dance,2020,16+,9.2,90,"Documentary,Biography",A 10-part documentary chronicling the untold s...,1Season,Netflix
55,The Haunting,2018,18+,8.7,89,"Horror,Drama","The Crains, a fractured family, confront haunt...",1Season,Netflix
...,...,...,...,...,...,...,...,...,...
12339,Pro-Semitism with Elon Gold,2011,NaN,NaN,-1,"2011,Prime Video",Pro-Semitism with Elon Gold has one or more ep...,1Season,Prime Video
12344,"Stop, Breathe & Think Kids: Mindful Games",2017,NaN,NaN,-1,"2017,Hulu",Mindfulness made easy and fun for kids. Discov...,1Season,Hulu
12350,NHL Road to the Outdoor Classics,2016,NaN,NaN,-1,"2016,Prime Video",Road to the NHL Outdoor Classics takes us deep...,1Season,"Prime Video,Epix"
12351,Addy Media,2018,NaN,NaN,-1,"2018,Prime Video",Addy Media has one or more episodes streaming ...,1Season,Prime Video
12352,My Dream Derelict Home,2014,NaN,NaN,-1,"2014,Free Services",My Dream Derelict Home has one or more episode...,1Season,"Free Services,Prime Video"

In [18]:
#using the GROUPBY method

all_tv_shows.groupby("No of Seasons") # GROUPBY group data by unique values of a colums and needs a metric to aggregate I.E SUM MEAN Standard deviation etc

In [19]:
all_tv_shows.groupby("No of Seasons").mean()

               Year Released  IMDB Rating   R Rating
No of Seasons
-1               2012.481250     6.714286   7.747917
1 Season         2013.153740     6.937796  47.882271
10 Seasons       2003.214286     7.067857  58.857143
10Seasons        2001.769231     7.078689  53.723077
11 Seasons       1996.880000     7.132000  60.680000
...                      ...          ...        ...
82 Seasons       1947.000000     5.500000  43.000000
84Seasons        2013.000000     8.100000  55.000000
8Seasons         2003.208000     7.212069  55.352000
9 Seasons        1998.666667     7.477778  60.148148
9Seasons         2003.835052     7.260440  55.000000

[94 rows x 3 columns]

In [20]:
all_tv_shows.groupby("No of Seasons").count() # to count the number of occurrences of a unique season

,Series Title,Year Released,Content Rating,IMDB Rating,R Rating,Genre,Description,Streaming Platform
No of Seasons,,,,,,,,
-1,480,480,13,28,480,480,480,479
1 Season,722,722,440,717,722,722,722,569
10 Seasons,28,28,25,28,28,28,28,27
10Seasons,65,65,52,61,65,65,65,62
11 Seasons,25,25,24,25,25,25,25,21
...,...,...,...,...,...,...,...,...
82 Seasons,1,1,1,1,1,1,1,1
84Seasons,1,1,1,1,1,1,1,1
8Seasons,125,125,102,116,125,125,125,113
9 Seasons,27,27,23,27,27,27,27,23
9Seasons,97,97,83,91,97,97,97,85

In [24]:
all_tv_shows.groupby("No of Seasons").count().sort_values(by = "Series Title", ascending = False)

,Series Title,Year Released,Content Rating,IMDB Rating,R Rating,Genre,Description,Streaming Platform
No of Seasons,,,,,,,,
1Season,5204,5204,2447,4009,5204,5204,5204,4255
2Seasons,1882,1882,1158,1630,1882,1882,1882,1549
3Seasons,995,995,710,895,995,995,995,834
1 Season,722,722,440,717,722,722,722,569
4Seasons,584,584,437,522,584,584,584,502
...,...,...,...,...,...,...,...,...
29Seasons,1,1,1,1,1,1,1,1
48 Seasons,1,1,1,1,1,1,1,1
45Seasons,1,1,0,1,1,1,1,1
42Seasons,1,1,1,1,1,1,1,1
54 Seasons,1,1,1,1,1,1,1,1

In [25]:
#CREATE A NEW EXCEL FILE WITH SHEETS REPRESENTING EACH OF THE YEARS OF MOVIES
#MOVIES RELEASEDE AND THE DATA AS ALL MOVIES RELEASED IN SAID YEAR

yearly_movies_grouped = all_tv_shows.groupby(by = "Year Released")

In [26]:
yearly_movies_grouped.groups

{1901: Int64Index([5134, 10423, 10689, 10731, 10919], dtype='int64'),
 1904: Int64Index([10569], dtype='int64'),
 1914: Int64Index([10681], dtype='int64'),
 1922: Int64Index([3608], dtype='int64'),
 1931: Int64Index([9572], dtype='int64'),
 1932: Int64Index([9675], dtype='int64'),
 1933: Int64Index([10594], dtype='int64'),
 1934: Int64Index([2325], dtype='int64'),
 1940: Int64Index([675], dtype='int64'),
 1941: Int64Index([4282], dtype='int64'),
 1943: Int64Index([10604], dtype='int64'),
 1945: Int64Index([10603], dtype='int64'),
 1947: Int64Index([5263, 7007, 10784], dtype='int64'),
 1948: Int64Index([5649, 6672, 10599], dtype='int64'),
 1949: Int64Index([2651, 5207, 6918, 7653, 8218], dtype='int64'),
 1950: Int64Index([3384, 5467, 6632, 10559], dtype='int64'),
 1951: Int64Index([756, 5056, 6617, 7353, 10824], dtype='int64'),
 1952: Int64Index([3695, 4269, 4764, 5485, 6365, 6609, 6971, 8378], dtype='int64'),
 1953: Int64Index([5107, 7106, 7597, 11115], dtype='int64'),
 1954: Int64Index([3463, 4453, 6450, 8559], dtype='int64'),
 1955: Int64Index([873, 1321, 4324, 4710, 4836, 5086, 5177, 5522, 6743, 7530, 8533], dtype='int64'),
 1956: Int64Index([6714, 7368, 7504, 7510, 8478, 11385], dtype='int64'),
 1957: Int64Index([1154, 1240, 2638, 3707, 5554, 5818, 6824, 6975, 7468, 7809, 8348,
             10657],
            dtype='int64'),
 1958: Int64Index([1981, 3279, 3490, 3701, 4039, 4073, 4414, 4717, 5424, 5699, 5962,
             6008, 6380, 7261],
            dtype='int64'),
 1959: Int64Index([134, 2285, 3738, 3907, 4212, 4771, 6220, 6432], dtype='int64'),
 1960: Int64Index([1092, 1331, 1622, 2463, 2950, 3685, 4214, 4315, 8679, 9727, 10427,
             10726],
            dtype='int64'),
 1961: Int64Index([738, 2477, 3737, 4350, 4483, 6706, 7802, 10735], dtype='int64'),
 1962: Int64Index([1785, 2040, 2105, 2135, 2390, 2988, 3358, 3536, 6382, 6548, 8799], dtype='int64'),
 1963: Int64Index([716, 1814, 1815, 3497, 3995, 4607, 5482, 5902, 6144, 10592, 10636], dtype='int64'),
 1964: Int64Index([ 533,  539,  797, 1418, 1581, 1634, 1936, 2277, 2880, 3336, 4281,
             4993, 5268, 5650, 6587],
            dtype='int64'),
 1965: Int64Index([  986,  1170,  2106,  2330,  2522,  2706,  2713,  3412,  3698,
              4218,  5051,  6081,  7257,  7751, 10001],
            dtype='int64'),
 1966: Int64Index([ 207,  575, 1736, 2089, 3016, 3174, 3406, 3437, 3593, 4555, 4618,
             5226, 6416, 7600, 7633],
            dtype='int64'),
 1967: Int64Index([ 534, 1465, 2727, 3009, 3317, 4544, 4554, 5154, 5343, 5500, 6090,
             6562, 6697, 7984],
            dtype='int64'),
 1968: Int64Index([1708, 2137, 2143, 2423, 2691, 3360, 3989, 4065, 4078, 4187, 4301,
             5085, 5132, 5291, 5744, 6499, 6645, 6829],
            dtype='int64'),
 1969: Int64Index([284, 857, 901, 973, 2685, 4000, 4715, 4984, 5224, 5452, 5979, 7734,
             8999, 9206],
            dtype='int64'),
 1970: Int64Index([ 1590,  1956,  2368,  2979,  3291,  5417,  5615,  7024,  8076,
              8657, 10528, 10773, 10904, 11210],
            dtype='int64'),
 1971: Int64Index([428, 871, 1775, 2348, 3171, 3343, 3376, 4011, 7203, 8187], dtype='int64'),
 1972: Int64Index([ 580, 1641, 1929, 1995, 2187, 2315, 2779, 3020, 3514, 4095, 4822,
             5193, 5752, 5813, 5863, 6620, 7601, 9110],
            dtype='int64'),
 1973: Int64Index([1282, 1752, 2673, 3053, 3264, 3460, 3753, 5274, 5488, 7135, 7723,
             10708],
            dtype='int64'),
 1974: Int64Index([ 787,  989, 1189, 1461, 1821, 1840, 2667, 2830, 4120, 4295, 5030,
             5676, 6255, 6944, 7434],
            dtype='int64'),
 1975: Int64Index([ 230,  686, 1062, 1226, 1579, 2150, 2270, 2389, 2879, 3198, 3584,
             3640, 4060, 4184, 4686, 5254, 5451, 5695, 5923, 7146, 7348, 7495,
             8358],
            dtype='int64'),
 1976: Int64Index([647, 1824, 1947, 2255, 2647, 3249, 3568, 3798, 3964, 5002, 5271,
             6351, 6911],
            dtype='int64'),
 1977: Int64Index([725, 1692, 1702, 2400, 3594, 3757, 4306, 4513, 5096, 5548, 6323,
             7704, 10527],
            dtype='int64'),
 1978: Int64Index([  852,   892,  1638,  1657,  1711,  2214,  2328,  2644,  3023,
              3118,  3189,  3811,  4585,  4986,  5316,  5842,  6815,  7139,
              7221,  7461,  7673, 10830],
            dtype='int64'),
 1979: Int64Index([1034, 1533, 1667, 1774, 2306, 2819, 2952, 3110, 3529, 3806, 4029,
             4472, 4756, 4803, 5535, 5908, 6566, 7219, 7238, 7508, 8604, 8749],
            dtype='int64'),
 1980: Int64Index([ 889, 1585, 3888, 4146, 4721, 4849, 5315, 5532, 5977, 6049, 6167,
             6435, 7264, 7354, 7375, 7569],
            dtype='int64'),
 1981: Int64Index([  929,  1671,  1696,  1726,  1760,  2077,  2262,  2577,  3250,
              3534,  3692,  5739,  5837,  6082,  7722,  8462,  9856, 10987],
            dtype='int64'),
 1982: Int64Index([ 564,  796, 1443, 1508, 1716, 1939, 2271, 2308, 2472, 2951, 3444,
             3496, 3519, 3666, 4856, 4974, 5667, 6400, 6756, 6963, 7161, 7566,
             7775, 8247],
            dtype='int64'),
 1983: Int64Index([  801,  1059,  1133,  1560,  1766,  2142,  2196,  2295,  2404,
              2680,  2758,  3165,  3359,  4115,  4258,  4267,  4272,  4325,
              4936,  5122,  5131,  5556,  5927,  6004,  6356,  7071,  7529,
              8250,  8722, 10743],
            dtype='int64'),
 1984: Int64Index([  877,   896,   974,  1100,  1162,  1218,  1291,  1442,  1817,
              1988,  2608,  2639,  2985,  3218,  3234,  3567,  4085,  4310,
              4344,  4653,  4692,  6321,  6613,  6668,  8102, 11179, 11343],
            dtype='int64'),
 1985: Int64Index([ 684,  774,  988, 1522, 1732, 2088, 2237, 2292, 2416, 2506, 2546,
             2972, 3082, 3601, 3635, 3835, 3922, 4048, 4576, 4964, 5148, 5564,
             5677, 5688, 5769, 6122, 8614, 8635],
            dtype='int64'),
 1986: Int64Index([  474,  1010,  1095,  1948,  2055,  2275,  2334,  2403,  2576,
              2623,  3192,  3225,  3506,  3585,  3651,  4069,  4142,  4337,
              4392,  4599,  4729,  5470,  5502,  6126,  6176,  6362,  6599,
              6884,  6903, 10391, 10940],
            dtype='int64'),
 1987: Int64Index([  115,   703,   757,   990,   999,  1113,  1178,  1280,  1632,
              2140,  2387,  2486,  2698,  2825,  3122,  3350,  3419,  3939,
              4647,  4738,  4938,  5229,  5567,  5734,  7271,  7641,  8064,
              8574,  8719, 10329],
            dtype='int64'),
 1988: Int64Index([  430,   694,   815,   841,  1914,  1917,  2121,  2373,  2728,
              2737,  2897,  2954,  3290,  3576,  3786,  3842,  4690,  4752,
              4906,  5493,  5597,  5620,  5651,  5719,  6281,  6374,  7333,
              8284,  9434, 10570, 10820],
            dtype='int64'),
 1989: Int64Index([   24,    54,   264,   369,   588,   639,   955,  1289,  1730,
              1804,  1979,  2136,  2141,  2172,  2294,  2408,  2519,  2535,
              2815,  3106,  3361,  3445,  3581,  4086,  4304,  5215,  5285,
              5292,  5464,  5515,  5645,  6565,  7544,  7989,  8312,  9239,
             10128, 10365, 11083],
            dtype='int64'),
 1990: Int64Index([   51,   155,   420,   824,  1235,  1297,  1355,  1660,  1685,
              1828,  1854,  1983,  1985,  2161,  2250,  2370,  2629,  3071,
              3202,  3209,  3243,  3796,  3817,  4345,  4655,  5293,  5376,
              6190,  6244,  6624,  7010,  7474,  7829,  8421,  8788, 10929,
             11082, 11142, 11153, 11324],
            dtype='int64'),
 1991: Int64Index([  587,   710,   750,  1097,  1139,  1668,  1758,  2048,  2192,
              2444,  2524,  2679,  2695,  2970,  3665,  3871,  4036,  4185,
              4434,  4534,  4796,  5558,  5802,  6043,  6106,  6646,  6713,
              6755,  7937,  8377, 11072],
            dtype='int64'),
 1992: Int64Index([  107,   394,   617,   679,  1041,  1147,  1192,  1206,  1343,
              1530,  1746,  1935,  1955,  1972,  2291,  2343,  2381,  2451,
              2752,  2760,  2882,  3044,  3246,  3261,  3393,  3420,  3683,
              3706,  3993,  4145,  4379,  4467,  4656,  4900,  5017,  6528,
              6826,  7014,  7332,  7831,  8177,  8190,  8212,  9953, 10601,
             10673, 10760],
            dtype='int64'),
 1993: Int64Index([   89,   196,   295,   744,   910,  1166,  1173,  1338,  1438,
              1538,  1610,  1625,  1689,  1724,  1835,  1886,  1913,  1962,
              2530,  2838,  2907,  2920,  3423,  4015,  4032,  4051,  4161,
              4375,  4502,  4523,  4561,  4588,  4750,  5220,  5389,  6335,
              6553,  6653,  6758,  7017,  7959,  8004,  8088,  8308,  8466,
             10748],
            dtype='int64'),
 1994: Int64Index([   10,   370,   827,   860,   882,  1051,  1568,  1604,  1738,
              1795,  2006,  2018,  2110,  2231,  2469,  2510,  2595,  2774,
              3041,  3093,  3129,  3537,  3554,  3976,  3982,  4005,  4022,
              4162,  4170,  4286,  4330,  4383,  4733,  4790,  5015,  5247,
              5577,  5743,  5921,  5985,  6066,  6136,  6457,  6518,  6549,
              6916,  7022,  7031,  7315,  7441,  7817,  7888,  8532,  9762,
             10556, 10630, 10787, 10793, 11186],
            dtype='int64'),
 1995: Int64Index([  117,   235,   311,   378,   863,   868,   885,  1028,  1049,
              1145,  1319,  1499,  1653,  1764,  1940,  2093,  2177,  2218,
              2583,  2675,  2842,  2939,  3059,  3319,  3328,  3378,  3477,
              3801,  3838,  4007,  4055,  4159,  4252,  4471,  4506,  4566,
              5152,  5421,  5682,  5713,  5889,  6074,  6292,  6805,  6867,
              6901,  6927,  6949,  7096,  7101,  7728,  8211,  8265,  8387,
              8581, 10488, 10606, 10862, 11012, 11137, 11143],
            dtype='int64'),
 1996: Int64Index([  528,   773,   891,   893,   906,   909,  1029,  1067,  1210,
              1295,  1306,  1378,  1394,  1456,  1772,  1811,  2241,  2511,
              2735,  2764,  2803,  3026,  3326,  3395,  3405,  3569,  3588,
              3746,  3809,  4058,  4182,  4237,  4239,  4312,  4348,  4550,
              4571,  4591,  4823,  4861,  4930,  4959,  4971,  5117,  5250,
              5393,  5545,  5613,  5763,  6381,  6527,  6842,  6851,  7290,
              7458,  7613,  7759,  7857,  8217,  8467,  8638, 10717, 10725,
             10757, 10978, 11119],
            dtype='int64'),
 1997: Int64Index([   38,   124,   201,   334,   659,   708,   937,   938,  1014,
              1134,  1266,  1577,  1582,  1612,  1655,  1868,  1954,  1980,
              2183,  2230,  2335,  2419,  2820,  2983,  3008,  3017,  3121,
              3131,  3590,  3653,  3719,  3868,  3895,  4441,  4602,  4727,
              4753,  5489,  5495,  5543,  5565,  5641,  5741,  6003,  6064,
              6067,  6100,  6145,  6146,  6415,  6467,  6539,  6578,  6682,
              7121,  7364,  7471,  7928,  7968,  8411,  8428,  8496,  9056,
              9136,  9804,  9847,  9867, 10251, 10313, 10346, 10496, 10522,
             10635, 11237],
            dtype='int64'),
 1998: Int64Index([  327,   338,   340,   403,   444,   471,   653,   755,   844,
              1152,  1184,  1336,  1495,  1510,  1776,  1796,  1931,  2173,
              2215,  2360,  2396,  2483,  2550,  2886,  2922,  2981,  3255,
              3306,  3611,  3764,  3820,  3892,  3913,  4024,  4035,  4102,
              4251,  4335,  4432,  4446,  4450,  4532,  4773,  4850,  4883,
              5065,  5081,  5106,  5164,  5180,  5371,  5413,  5510,  5935,
              6104,  6268,  6363,  6626,  6651,  6673,  6932,  7145,  7399,
              7432,  7439,  7541,  7574,  7794,  7846,  8036,  8232,  8506,
              8543,  8653,  8909,  9072,  9521,  9539,  9713, 10166, 10198,
             10213, 11233, 11418, 11483, 12062],
            dtype='int64'),
 1999: Int64Index([   26,    73,   127,   185,   221,   240,   251,   296,   377,
               458,
             ...
              9699, 10173, 10273, 10462, 10590, 10705, 11078, 11330, 11788,
             11965],
            dtype='int64', length=105),
 2000: Int64Index([  100,   206,   215,   489,   693,   776,   777,   905,   924,
              1078,  1102,  1249,  1381,  1419,  1599,  1748,  1855,  1927,
              2283,  2344,  2508,  2533,  2589,  2763,  3050,  3108,  3140,
              3203,  3252,  3266,  3353,  3607,  3711,  3791,  3882,  3983,
              3988,  4040,  4209,  4234,  4668,  4746,  4949,  4955,  5021,
              5212,  5251,  5339,  5523,  5561,  5610,  5630,  5634,  5687,
              5899,  6149,  6224,  6262,  6309,  6334,  6441,  6501,  6581,
              6731,  6909,  7018,  7205,  7280,  7440,  7507,  8151,  8259,
              8499,  9133,  9472,  9516,  9582,  9613, 10671, 10812, 10884,
             10992, 11117, 11260, 11297, 11463, 11496, 11558, 11573, 11605,
             12028, 12186, 12287, 12320],
            dtype='int64'),
 2001: Int64Index([   17,   109,   112,   121,   175,   257,   288,   555,   566,
               574,
             ...
             10845, 10859, 10972, 11017, 11258, 11410, 11458, 11466, 11669,
             12026],
            dtype='int64', length=108),
 2002: Int64Index([   13,    42,   138,   236,   248,   447,   625,   809,   981,
              1186,
             ...
              9626, 10008, 10871, 10883, 10921, 10966, 11876, 12037, 12112,
             12273],
            dtype='int64', length=114),
 2003: Int64Index([   80,   159,   233,   275,   427,   437,   461,   488,   500,
               616,
             ...
             10842, 11198, 11275, 11409, 11668, 12130, 12167, 12284, 12304,
             12349],
            dtype='int64', length=141),
 2004: Int64Index([   18,    30,   145,   200,   211,   266,   271,   285,   310,
               348,
             ...
             11123, 11228, 11252, 11333, 11421, 11958, 11969, 12178, 12251,
             12295],
            dtype='int64', length=172),
 2005: Int64Index([    9,    11,    12,    50,    61,    64,    76,   106,   181,
               194,
             ...
             10330, 10652, 11019, 11054, 11354, 11438, 11479, 11786, 12283,
             12345],
            dtype='int64', length=217),
 2006: Int64Index([   34,   113,   131,   142,   149,   157,   242,   246,   425,
               468,
             ...
             11413, 11431, 11500, 11842, 11900, 11916, 11980, 12071, 12137,
             12153],
            dtype='int64', length=251),
 2007: Int64Index([   40,    45,   119,   162,   190,   220,   229,   320,   323,
               341,
             ...
             11873, 11902, 11905, 11961, 12002, 12063, 12083, 12103, 12175,
             12236],
            dtype='int64', length=301),
 2008: Int64Index([    0,    43,    74,   183,   226,   318,   319,   343,   357,
               400,
             ...
             12007, 12015, 12050, 12053, 12091, 12133, 12202, 12257, 12262,
             12347],
            dtype='int64', length=328),
 2009: Int64Index([   39,    46,    49,    56,    75,    78,   125,   164,   176,
               186,
             ...
             11540, 11653, 11781, 11796, 11797, 11805, 11864, 12068, 12327,
             12342],
            dtype='int64', length=368),
 2010: Int64Index([    7,    29,    91,    94,    99,   103,   146,   172,   227,
               239,
             ...
             11889, 11930, 11942, 12000, 12029, 12141, 12221, 12234, 12238,
             12296],
            dtype='int64', length=449),
 2011: Int64Index([    1,    16,    44,    47,    59,   114,   137,   161,   167,
               184,
             ...
             11995, 11996, 11998, 12016, 12077, 12113, 12157, 12163, 12225,
             12339],
            dtype='int64', length=574),
 2012: Int64Index([   77,    79,   118,   139,   160,   214,   219,   328,   330,
               350,
             ...
             12177, 12184, 12195, 12203, 12213, 12227, 12240, 12259, 12267,
             12346],
            dtype='int64', length=671),
 2013: Int64Index([    2,    15,    22,    28,    31,    52,    58,    66,    68,
                81,
             ...
             12189, 12212, 12222, 12229, 12231, 12252, 12253, 12319, 12328,
             12330],
            dtype='int64', length=715),
 2014: Int64Index([    8,    37,    60,    71,    83,    87,    90,    95,   110,
               135,
             ...
             12168, 12181, 12191, 12204, 12215, 12266, 12291, 12308, 12335,
             12352],
            dtype='int64', length=803),
 2015: Int64Index([   14,    21,    35,    41,    63,   105,   108,   132,   136,
               158,
             ...
             12232, 12242, 12261, 12274, 12276, 12297, 12306, 12315, 12321,
             12337],
            dtype='int64', length=930),
 2016: Int64Index([    3,    19,    36,    62,    65,    69,    70,    93,   101,
               120,
             ...
             12310, 12314, 12318, 12322, 12324, 12325, 12331, 12333, 12341,
             12350],
            dtype='int64', length=1172),
 2017: Int64Index([    5,    20,    33,    53,    67,    96,    97,    98,   129,
               152,
             ...
             12326, 12329, 12332, 12334, 12336, 12338, 12340, 12343, 12344,
             12348],
            dtype='int64', length=1319),
 2018: Int64Index([   23,    55,    82,    84,    86,   140,   141,   143,   165,
               166,
             ...
             12264, 12268, 12271, 12275, 12282, 12289, 12300, 12305, 12313,
             12351],
            dtype='int64', length=1036),
 2019: Int64Index([    4,     6,    25,    27,    32,    57,    72,    88,   102,
               122,
             ...
             11221, 11328, 11399, 11427, 11649, 11652, 11768, 12159, 12226,
             12258],
            dtype='int64', length=836),
 2020: Int64Index([   48,   111,   130,   147,   174,   178,   179,   216,   225,
               255,
             ...
             10132, 10145, 10192, 10428, 10596, 10638, 10702, 10747, 10920,
             11187],
            dtype='int64', length=467)}

In [29]:
yearly_movies_grouped.get_group(2000)#get_grioup(param or group key)
#takes 1 parameter the group name we want to see and returns from the group data

list(yearly_movies_grouped.groups.items())[0]

(1901, Int64Index([5134, 10423, 10689, 10731, 10919], dtype='int64'))

In [30]:
list(yearly_movies_grouped.groups.items())

[(1901, Int64Index([5134, 10423, 10689, 10731, 10919], dtype='int64')),
 (1904, Int64Index([10569], dtype='int64')),
 (1914, Int64Index([10681], dtype='int64')),
 (1922, Int64Index([3608], dtype='int64')),
 (1931, Int64Index([9572], dtype='int64')),
 (1932, Int64Index([9675], dtype='int64')),
 (1933, Int64Index([10594], dtype='int64')),
 (1934, Int64Index([2325], dtype='int64')),
 (1940, Int64Index([675], dtype='int64')),
 (1941, Int64Index([4282], dtype='int64')),
 (1943, Int64Index([10604], dtype='int64')),
 (1945, Int64Index([10603], dtype='int64')),
 (1947, Int64Index([5263, 7007, 10784], dtype='int64')),
 (1948, Int64Index([5649, 6672, 10599], dtype='int64')),
 (1949, Int64Index([2651, 5207, 6918, 7653, 8218], dtype='int64')),
 (1950, Int64Index([3384, 5467, 6632, 10559], dtype='int64')),
 (1951, Int64Index([756, 5056, 6617, 7353, 10824], dtype='int64')),
 (1952,
  Int64Index([3695, 4269, 4764, 5485, 6365, 6609, 6971, 8378], dtype='int64')),
 (1953, Int64Index([5107, 7106, 7597, 11115], dtype='int64')),
 (1954, Int64Index([3463, 4453, 6450, 8559], dtype='int64')),
 (1955,
  Int64Index([873, 1321, 4324, 4710, 4836, 5086, 5177, 5522, 6743, 7530, 8533], dtype='int64')),
 (1956, Int64Index([6714, 7368, 7504, 7510, 8478, 11385], dtype='int64')),
 (1957,
  Int64Index([1154, 1240, 2638, 3707, 5554, 5818, 6824, 6975, 7468, 7809, 8348,
              10657],
             dtype='int64')),
 (1958,
  Int64Index([1981, 3279, 3490, 3701, 4039, 4073, 4414, 4717, 5424, 5699, 5962,
              6008, 6380, 7261],
             dtype='int64')),
 (1959,
  Int64Index([134, 2285, 3738, 3907, 4212, 4771, 6220, 6432], dtype='int64')),
 (1960,
  Int64Index([1092, 1331, 1622, 2463, 2950, 3685, 4214, 4315, 8679, 9727, 10427,
              10726],
             dtype='int64')),
 (1961,
  Int64Index([738, 2477, 3737, 4350, 4483, 6706, 7802, 10735], dtype='int64')),
 (1962,
  Int64Index([1785, 2040, 2105, 2135, 2390, 2988, 3358, 3536, 6382, 6548, 8799], dtype='int64')),
 (1963,
  Int64Index([716, 1814, 1815, 3497, 3995, 4607, 5482, 5902, 6144, 10592, 10636], dtype='int64')),
 (1964,
  Int64Index([ 533,  539,  797, 1418, 1581, 1634, 1936, 2277, 2880, 3336, 4281,
              4993, 5268, 5650, 6587],
             dtype='int64')),
 (1965,
  Int64Index([  986,  1170,  2106,  2330,  2522,  2706,  2713,  3412,  3698,
               4218,  5051,  6081,  7257,  7751, 10001],
             dtype='int64')),
 (1966,
  Int64Index([ 207,  575, 1736, 2089, 3016, 3174, 3406, 3437, 3593, 4555, 4618,
              5226, 6416, 7600, 7633],
             dtype='int64')),
 (1967,
  Int64Index([ 534, 1465, 2727, 3009, 3317, 4544, 4554, 5154, 5343, 5500, 6090,
              6562, 6697, 7984],
             dtype='int64')),
 (1968,
  Int64Index([1708, 2137, 2143, 2423, 2691, 3360, 3989, 4065, 4078, 4187, 4301,
              5085, 5132, 5291, 5744, 6499, 6645, 6829],
             dtype='int64')),
 (1969,
  Int64Index([284, 857, 901, 973, 2685, 4000, 4715, 4984, 5224, 5452, 5979, 7734,
              8999, 9206],
             dtype='int64')),
 (1970,
  Int64Index([ 1590,  1956,  2368,  2979,  3291,  5417,  5615,  7024,  8076,
               8657, 10528, 10773, 10904, 11210],
             dtype='int64')),
 (1971,
  Int64Index([428, 871, 1775, 2348, 3171, 3343, 3376, 4011, 7203, 8187], dtype='int64')),
 (1972,
  Int64Index([ 580, 1641, 1929, 1995, 2187, 2315, 2779, 3020, 3514, 4095, 4822,
              5193, 5752, 5813, 5863, 6620, 7601, 9110],
             dtype='int64')),
 (1973,
  Int64Index([1282, 1752, 2673, 3053, 3264, 3460, 3753, 5274, 5488, 7135, 7723,
              10708],
             dtype='int64')),
 (1974,
  Int64Index([ 787,  989, 1189, 1461, 1821, 1840, 2667, 2830, 4120, 4295, 5030,
              5676, 6255, 6944, 7434],
             dtype='int64')),
 (1975,
  Int64Index([ 230,  686, 1062, 1226, 1579, 2150, 2270, 2389, 2879, 3198, 3584,
              3640, 4060, 4184, 4686, 5254, 5451, 5695, 5923, 7146, 7348, 7495,
              8358],
             dtype='int64')),
 (1976,
  Int64Index([647, 1824, 1947, 2255, 2647, 3249, 3568, 3798, 3964, 5002, 5271,
              6351, 6911],
             dtype='int64')),
 (1977,
  Int64Index([725, 1692, 1702, 2400, 3594, 3757, 4306, 4513, 5096, 5548, 6323,
              7704, 10527],
             dtype='int64')),
 (1978,
  Int64Index([  852,   892,  1638,  1657,  1711,  2214,  2328,  2644,  3023,
               3118,  3189,  3811,  4585,  4986,  5316,  5842,  6815,  7139,
               7221,  7461,  7673, 10830],
             dtype='int64')),
 (1979,
  Int64Index([1034, 1533, 1667, 1774, 2306, 2819, 2952, 3110, 3529, 3806, 4029,
              4472, 4756, 4803, 5535, 5908, 6566, 7219, 7238, 7508, 8604, 8749],
             dtype='int64')),
 (1980,
  Int64Index([ 889, 1585, 3888, 4146, 4721, 4849, 5315, 5532, 5977, 6049, 6167,
              6435, 7264, 7354, 7375, 7569],
             dtype='int64')),
 (1981,
  Int64Index([  929,  1671,  1696,  1726,  1760,  2077,  2262,  2577,  3250,
               3534,  3692,  5739,  5837,  6082,  7722,  8462,  9856, 10987],
             dtype='int64')),
 (1982,
  Int64Index([ 564,  796, 1443, 1508, 1716, 1939, 2271, 2308, 2472, 2951, 3444,
              3496, 3519, 3666, 4856, 4974, 5667, 6400, 6756, 6963, 7161, 7566,
              7775, 8247],
             dtype='int64')),
 (1983,
  Int64Index([  801,  1059,  1133,  1560,  1766,  2142,  2196,  2295,  2404,
               2680,  2758,  3165,  3359,  4115,  4258,  4267,  4272,  4325,
               4936,  5122,  5131,  5556,  5927,  6004,  6356,  7071,  7529,
               8250,  8722, 10743],
             dtype='int64')),
 (1984,
  Int64Index([  877,   896,   974,  1100,  1162,  1218,  1291,  1442,  1817,
               1988,  2608,  2639,  2985,  3218,  3234,  3567,  4085,  4310,
               4344,  4653,  4692,  6321,  6613,  6668,  8102, 11179, 11343],
             dtype='int64')),
 (1985,
  Int64Index([ 684,  774,  988, 1522, 1732, 2088, 2237, 2292, 2416, 2506, 2546,
              2972, 3082, 3601, 3635, 3835, 3922, 4048, 4576, 4964, 5148, 5564,
              5677, 5688, 5769, 6122, 8614, 8635],
             dtype='int64')),
 (1986,
  Int64Index([  474,  1010,  1095,  1948,  2055,  2275,  2334,  2403,  2576,
               2623,  3192,  3225,  3506,  3585,  3651,  4069,  4142,  4337,
               4392,  4599,  4729,  5470,  5502,  6126,  6176,  6362,  6599,
               6884,  6903, 10391, 10940],
             dtype='int64')),
 (1987,
  Int64Index([  115,   703,   757,   990,   999,  1113,  1178,  1280,  1632,
               2140,  2387,  2486,  2698,  2825,  3122,  3350,  3419,  3939,
               4647,  4738,  4938,  5229,  5567,  5734,  7271,  7641,  8064,
               8574,  8719, 10329],
             dtype='int64')),
 (1988,
  Int64Index([  430,   694,   815,   841,  1914,  1917,  2121,  2373,  2728,
               2737,  2897,  2954,  3290,  3576,  3786,  3842,  4690,  4752,
               4906,  5493,  5597,  5620,  5651,  5719,  6281,  6374,  7333,
               8284,  9434, 10570, 10820],
             dtype='int64')),
 (1989,
  Int64Index([   24,    54,   264,   369,   588,   639,   955,  1289,  1730,
               1804,  1979,  2136,  2141,  2172,  2294,  2408,  2519,  2535,
               2815,  3106,  3361,  3445,  3581,  4086,  4304,  5215,  5285,
               5292,  5464,  5515,  5645,  6565,  7544,  7989,  8312,  9239,
              10128, 10365, 11083],
             dtype='int64')),
 (1990,
  Int64Index([   51,   155,   420,   824,  1235,  1297,  1355,  1660,  1685,
               1828,  1854,  1983,  1985,  2161,  2250,  2370,  2629,  3071,
               3202,  3209,  3243,  3796,  3817,  4345,  4655,  5293,  5376,
               6190,  6244,  6624,  7010,  7474,  7829,  8421,  8788, 10929,
              11082, 11142, 11153, 11324],
             dtype='int64')),
 (1991,
  Int64Index([  587,   710,   750,  1097,  1139,  1668,  1758,  2048,  2192,
               2444,  2524,  2679,  2695,  2970,  3665,  3871,  4036,  4185,
               4434,  4534,  4796,  5558,  5802,  6043,  6106,  6646,  6713,
               6755,  7937,  8377, 11072],
             dtype='int64')),
 (1992,
  Int64Index([  107,   394,   617,   679,  1041,  1147,  1192,  1206,  1343,
               1530,  1746,  1935,  1955,  1972,  2291,  2343,  2381,  2451,
               2752,  2760,  2882,  3044,  3246,  3261,  3393,  3420,  3683,
               3706,  3993,  4145,  4379,  4467,  4656,  4900,  5017,  6528,
               6826,  7014,  7332,  7831,  8177,  8190,  8212,  9953, 10601,
              10673, 10760],
             dtype='int64')),
 (1993,
  Int64Index([   89,   196,   295,   744,   910,  1166,  1173,  1338,  1438,
               1538,  1610,  1625,  1689,  1724,  1835,  1886,  1913,  1962,
               2530,  2838,  2907,  2920,  3423,  4015,  4032,  4051,  4161,
               4375,  4502,  4523,  4561,  4588,  4750,  5220,  5389,  6335,
               6553,  6653,  6758,  7017,  7959,  8004,  8088,  8308,  8466,
              10748],
             dtype='int64')),
 (1994,
  Int64Index([   10,   370,   827,   860,   882,  1051,  1568,  1604,  1738,
               1795,  2006,  2018,  2110,  2231,  2469,  2510,  2595,  2774,
               3041,  3093,  3129,  3537,  3554,  3976,  3982,  4005,  4022,
               4162,  4170,  4286,  4330,  4383,  4733,  4790,  5015,  5247,
               5577,  5743,  5921,  5985,  6066,  6136,  6457,  6518,  6549,
               6916,  7022,  7031,  7315,  7441,  7817,  7888,  8532,  9762,
              10556, 10630, 10787, 10793, 11186],
             dtype='int64')),
 (1995,
  Int64Index([  117,   235,   311,   378,   863,   868,   885,  1028,  1049,
               1145,  1319,  1499,  1653,  1764,  1940,  2093,  2177,  2218,
               2583,  2675,  2842,  2939,  3059,  3319,  3328,  3378,  3477,
               3801,  3838,  4007,  4055,  4159,  4252,  4471,  4506,  4566,
               5152,  5421,  5682,  5713,  5889,  6074,  6292,  6805,  6867,
               6901,  6927,  6949,  7096,  7101,  7728,  8211,  8265,  8387,
               8581, 10488, 10606, 10862, 11012, 11137, 11143],
             dtype='int64')),
 (1996,
  Int64Index([  528,   773,   891,   893,   906,   909,  1029,  1067,  1210,
               1295,  1306,  1378,  1394,  1456,  1772,  1811,  2241,  2511,
               2735,  2764,  2803,  3026,  3326,  3395,  3405,  3569,  3588,
               3746,  3809,  4058,  4182,  4237,  4239,  4312,  4348,  4550,
               4571,  4591,  4823,  4861,  4930,  4959,  4971,  5117,  5250,
               5393,  5545,  5613,  5763,  6381,  6527,  6842,  6851,  7290,
               7458,  7613,  7759,  7857,  8217,  8467,  8638, 10717, 10725,
              10757, 10978, 11119],
             dtype='int64')),
 (1997,
  Int64Index([   38,   124,   201,   334,   659,   708,   937,   938,  1014,
               1134,  1266,  1577,  1582,  1612,  1655,  1868,  1954,  1980,
               2183,  2230,  2335,  2419,  2820,  2983,  3008,  3017,  3121,
               3131,  3590,  3653,  3719,  3868,  3895,  4441,  4602,  4727,
               4753,  5489,  5495,  5543,  5565,  5641,  5741,  6003,  6064,
               6067,  6100,  6145,  6146,  6415,  6467,  6539,  6578,  6682,
               7121,  7364,  7471,  7928,  7968,  8411,  8428,  8496,  9056,
               9136,  9804,  9847,  9867, 10251, 10313, 10346, 10496, 10522,
              10635, 11237],
             dtype='int64')),
 (1998,
  Int64Index([  327,   338,   340,   403,   444,   471,   653,   755,   844,
               1152,  1184,  1336,  1495,  1510,  1776,  1796,  1931,  2173,
               2215,  2360,  2396,  2483,  2550,  2886,  2922,  2981,  3255,
               3306,  3611,  3764,  3820,  3892,  3913,  4024,  4035,  4102,
               4251,  4335,  4432,  4446,  4450,  4532,  4773,  4850,  4883,
               5065,  5081,  5106,  5164,  5180,  5371,  5413,  5510,  5935,
               6104,  6268,  6363,  6626,  6651,  6673,  6932,  7145,  7399,
               7432,  7439,  7541,  7574,  7794,  7846,  8036,  8232,  8506,
               8543,  8653,  8909,  9072,  9521,  9539,  9713, 10166, 10198,
              10213, 11233, 11418, 11483, 12062],
             dtype='int64')),
 (1999,
  Int64Index([   26,    73,   127,   185,   221,   240,   251,   296,   377,
                458,
              ...
               9699, 10173, 10273, 10462, 10590, 10705, 11078, 11330, 11788,
              11965],
             dtype='int64', length=105)),
 (2000,
  Int64Index([  100,   206,   215,   489,   693,   776,   777,   905,   924,
               1078,  1102,  1249,  1381,  1419,  1599,  1748,  1855,  1927,
               2283,  2344,  2508,  2533,  2589,  2763,  3050,  3108,  3140,
               3203,  3252,  3266,  3353,  3607,  3711,  3791,  3882,  3983,
               3988,  4040,  4209,  4234,  4668,  4746,  4949,  4955,  5021,
               5212,  5251,  5339,  5523,  5561,  5610,  5630,  5634,  5687,
               5899,  6149,  6224,  6262,  6309,  6334,  6441,  6501,  6581,
               6731,  6909,  7018,  7205,  7280,  7440,  7507,  8151,  8259,
               8499,  9133,  9472,  9516,  9582,  9613, 10671, 10812, 10884,
              10992, 11117, 11260, 11297, 11463, 11496, 11558, 11573, 11605,
              12028, 12186, 12287, 12320],
             dtype='int64')),
 (2001,
  Int64Index([   17,   109,   112,   121,   175,   257,   288,   555,   566,
                574,
              ...
              10845, 10859, 10972, 11017, 11258, 11410, 11458, 11466, 11669,
              12026],
             dtype='int64', length=108)),
 (2002,
  Int64Index([   13,    42,   138,   236,   248,   447,   625,   809,   981,
               1186,
              ...
               9626, 10008, 10871, 10883, 10921, 10966, 11876, 12037, 12112,
              12273],
             dtype='int64', length=114)),
 (2003,
  Int64Index([   80,   159,   233,   275,   427,   437,   461,   488,   500,
                616,
              ...
              10842, 11198, 11275, 11409, 11668, 12130, 12167, 12284, 12304,
              12349],
             dtype='int64', length=141)),
 (2004,
  Int64Index([   18,    30,   145,   200,   211,   266,   271,   285,   310,
                348,
              ...
              11123, 11228, 11252, 11333, 11421, 11958, 11969, 12178, 12251,
              12295],
             dtype='int64', length=172)),
 (2005,
  Int64Index([    9,    11,    12,    50,    61,    64,    76,   106,   181,
                194,
              ...
              10330, 10652, 11019, 11054, 11354, 11438, 11479, 11786, 12283,
              12345],
             dtype='int64', length=217)),
 (2006,
  Int64Index([   34,   113,   131,   142,   149,   157,   242,   246,   425,
                468,
              ...
              11413, 11431, 11500, 11842, 11900, 11916, 11980, 12071, 12137,
              12153],
             dtype='int64', length=251)),
 (2007,
  Int64Index([   40,    45,   119,   162,   190,   220,   229,   320,   323,
                341,
              ...
              11873, 11902, 11905, 11961, 12002, 12063, 12083, 12103, 12175,
              12236],
             dtype='int64', length=301)),
 (2008,
  Int64Index([    0,    43,    74,   183,   226,   318,   319,   343,   357,
                400,
              ...
              12007, 12015, 12050, 12053, 12091, 12133, 12202, 12257, 12262,
              12347],
             dtype='int64', length=328)),
 (2009,
  Int64Index([   39,    46,    49,    56,    75,    78,   125,   164,   176,
                186,
              ...
              11540, 11653, 11781, 11796, 11797, 11805, 11864, 12068, 12327,
              12342],
             dtype='int64', length=368)),
 (2010,
  Int64Index([    7,    29,    91,    94,    99,   103,   146,   172,   227,
                239,
              ...
              11889, 11930, 11942, 12000, 12029, 12141, 12221, 12234, 12238,
              12296],
             dtype='int64', length=449)),
 (2011,
  Int64Index([    1,    16,    44,    47,    59,   114,   137,   161,   167,
                184,
              ...
              11995, 11996, 11998, 12016, 12077, 12113, 12157, 12163, 12225,
              12339],
             dtype='int64', length=574)),
 (2012,
  Int64Index([   77,    79,   118,   139,   160,   214,   219,   328,   330,
                350,
              ...
              12177, 12184, 12195, 12203, 12213, 12227, 12240, 12259, 12267,
              12346],
             dtype='int64', length=671)),
 (2013,
  Int64Index([    2,    15,    22,    28,    31,    52,    58,    66,    68,
                 81,
              ...
              12189, 12212, 12222, 12229, 12231, 12252, 12253, 12319, 12328,
              12330],
             dtype='int64', length=715)),
 (2014,
  Int64Index([    8,    37,    60,    71,    83,    87,    90,    95,   110,
                135,
              ...
              12168, 12181, 12191, 12204, 12215, 12266, 12291, 12308, 12335,
              12352],
             dtype='int64', length=803)),
 (2015,
  Int64Index([   14,    21,    35,    41,    63,   105,   108,   132,   136,
                158,
              ...
              12232, 12242, 12261, 12274, 12276, 12297, 12306, 12315, 12321,
              12337],
             dtype='int64', length=930)),
 (2016,
  Int64Index([    3,    19,    36,    62,    65,    69,    70,    93,   101,
                120,
              ...
              12310, 12314, 12318, 12322, 12324, 12325, 12331, 12333, 12341,
              12350],
             dtype='int64', length=1172)),
 (2017,
  Int64Index([    5,    20,    33,    53,    67,    96,    97,    98,   129,
                152,
              ...
              12326, 12329, 12332, 12334, 12336, 12338, 12340, 12343, 12344,
              12348],
             dtype='int64', length=1319)),
 (2018,
  Int64Index([   23,    55,    82,    84,    86,   140,   141,   143,   165,
                166,
              ...
              12264, 12268, 12271, 12275, 12282, 12289, 12300, 12305, 12313,
              12351],
             dtype='int64', length=1036)),
 (2019,
  Int64Index([    4,     6,    25,    27,    32,    57,    72,    88,   102,
                122,
              ...
              11221, 11328, 11399, 11427, 11649, 11652, 11768, 12159, 12226,
              12258],
             dtype='int64', length=836)),
 (2020,
  Int64Index([   48,   111,   130,   147,   174,   178,   179,   216,   225,
                255,
              ...
              10132, 10145, 10192, 10428, 10596, 10638, 10702, 10747, 10920,
              11187],
             dtype='int64', length=467))]

In [31]:
yearly_movies_grouped.groups.keys()

dict_keys([1901, 1904, 1914, 1922, 1931, 1932, 1933, 1934, 1940, 1941, 1943, 1945, 1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020])

In [32]:
# my_dict = {
#     "key1": "value1", "key2":"value2", "key3":"value2"
# }

# my_dict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value2'}

In [33]:
#list(my_dict.items())

[('key1', 'value1'), ('key2', 'value2'), ('key3', 'value2')]

In [34]:
#my_dict.keys()

dict_keys(['key1', 'key2', 'key3'])

In [41]:
group_keys = yearly_movies_grouped.groups.keys() #retrieve keys from groups

In [43]:
with pd.ExcelWriter("netflix_by_years.xlsx") as writer:
    
    for key in group_keys:
    #subFrame.to_excel(writer, sheet_name = "subFrame1", index = False)  
    #subFrame2.to_excel(writer, sheet_name = "subFrame2", index = False)
    #print(key, "--> ", yearly_movies_grouped.get_group(key).shape)
        dataframe = yearly_movies_grouped.get_group(key)
        dataframe.to_excel(writer, sheet_name = f"{key}", index = False )

In [46]:
group_seasons_grouped = all_tv_shows.groupby(by = "No of Seasons")

In [47]:
group_seasons_grouped.groups

{'-1': Int64Index([ 4798,  6084,  7855,  8200,  8243,  8321,  8384,  8646,  8732,
              8863,
             ...
             12325, 12331, 12332, 12336, 12337, 12340, 12345, 12346, 12347,
             12349],
            dtype='int64', length=480),
 '1 Season': Int64Index([   17,    88,   130,   174,   177,   179,   187,   197,   260,
               272,
             ...
             10483, 10485, 10512, 10540, 10572, 10573, 10579, 10614, 10621,
             10652],
            dtype='int64', length=722),
 '10 Seasons': Int64Index([  44,  100,  257,  334,  487,  917,  990, 1031, 1177, 2110, 2229,
             3315, 3705, 3753, 3761, 4035, 4436, 4710, 5045, 5048, 5396, 5475,
             6493, 6604, 7442, 7563, 8185, 8317],
            dtype='int64'),
 '10Seasons': Int64Index([   10,    29,   161,   314,   428,   681,   756,   888,   981,
               989,  1186,  1239,  1297,  1373,  1506,  1653,  1760,  2028,
              2315,  2343,  2728,  2836,  2858,  3015,  3050,  3339,  3429,
              3692,  3767,  4148,  4155,  4211,  4348,  4373,  4723,  4907,
              4942,  5081,  5094,  5109,  5566,  5567,  5573,  5902,  5948,
              6100,  6181,  6440,  6457,  6581,  6672,  6692,  7202,  7269,
              7287,  7546,  7620,  7696,  7858,  9957, 10049, 10056, 10754,
             10914, 12343],
            dtype='int64'),
 '11 Seasons': Int64Index([  46,  458,  564,  580,  703,  830,  844, 1078, 1080, 1189, 1916,
             2242, 2511, 2904, 3290, 3754, 4045, 5089, 5134, 5782, 6089, 6669,
             6721, 7141, 9043],
            dtype='int64'),
 '11Seasons': Int64Index([   78,    89,    94,   196,   721,   841,   865,  1098,  1371,
              1384,  1432,  1465,  1631,  1897,  2003,  2190,  2294,  2389,
              2510,  3045,  3267,  3399,  3416,  4027,  4125,  4209,  4918,
              5107,  5263,  5353,  5409,  5471,  5682,  5814,  6007,  6133,
              6659,  6854,  6953,  7256,  7545,  7718,  7746,  8531,  8634,
              8791,  9053,  9548, 10238, 11900],
            dtype='int64'),
 '12 Seasons': Int64Index([ 282,  430,  877, 1696, 1971, 2020, 2137, 2368, 2396, 2461, 2945,
             3317, 3355, 4133, 5288, 6364, 6756],
            dtype='int64'),
 '12Seasons': Int64Index([   45,   181,   194,   461,   820,  1095,  1099,  1178,  1538,
              1839,  1852,  1859,  2720,  2792,  2854,  2994,  3097,  3818,
              3921,  3950,  3984,  4009,  4182,  4938,  5085,  5464,  5543,
              5618,  5751,  5822,  6430,  7023,  7348,  7684,  8151,  8205,
              8462,  8700,  9953, 11979],
            dtype='int64'),
 '13 Seasons': Int64Index([1023], dtype='int64'),
 '13Seasons': Int64Index([  498,   639,   815,   938,  1196,  1427,  2145,  2243,  2480,
              2594,  2721,  3525,  3662,  5845,  6464,  6567,  7609,  7673,
              8340,  9675, 10668],
            dtype='int64'),
 '14 Seasons': Int64Index([ 852, 1370, 1808, 3204, 3348, 3844, 4203, 4487, 4902, 5209, 5514,
             6673, 7780, 8580],
            dtype='int64'),
 '14Seasons': Int64Index([  50, 1984, 2285, 2442, 2751, 3194, 3816, 4144, 4163, 4269, 4392,
             4663, 4784, 5609, 6860, 9515],
            dtype='int64'),
 '15 Seasons': Int64Index([12, 204, 827, 980, 1394, 1531, 1632, 2439, 2888, 3459, 3550, 3913,
             4279, 8639],
            dtype='int64'),
 '15Seasons': Int64Index([ 1027,  1126,  1217,  1789,  1816,  1955,  2093,  2666,  2873,
              3302,  4128,  4379,  4891,  5339,  5355,  5630,  5859,  6106,
              6426,  7027,  7406,  7605,  8259,  8714, 10096, 10456, 10760,
             10820],
            dtype='int64'),
 '16 Seasons': Int64Index([64, 693, 1749, 2885, 4078, 4641, 6082, 7054], dtype='int64'),
 '160 Seasons': Int64Index([3123], dtype='int64'),
 '16Seasons': Int64Index([ 444, 1412, 2544, 2771, 3213, 3351, 3384, 3823, 5699, 5778, 6201,
             7144, 9489, 9880],
            dtype='int64'),
 '17 Seasons': Int64Index([275, 436, 440, 1444, 2014, 3629, 4445, 7020], dtype='int64'),
 '17Seasons': Int64Index([1519, 2312, 3396, 4946, 5545, 5888, 6323], dtype='int64'),
 '18 Seasons': Int64Index([240, 908, 1734, 2948, 3172, 4824, 5718, 6573, 6990], dtype='int64'),
 '187 Seasons': Int64Index([2065], dtype='int64'),
 '18Seasons': Int64Index([1471, 2381, 2686, 2908, 3487, 3620, 4267, 5173, 5291, 7280, 8750,
             10490],
            dtype='int64'),
 '19 Seasons': Int64Index([185, 786, 2530, 5251, 5605, 9381], dtype='int64'),
 '19Seasons': Int64Index([4761, 6548, 9768], dtype='int64'),
 '1Season': Int64Index([    6,    25,    42,    48,    55,    56,    57,    72,   102,
               111,
             ...
             12327, 12329, 12333, 12334, 12335, 12339, 12344, 12350, 12351,
             12352],
            dtype='int64', length=5204),
 '2 Seasons': Int64Index([   84,    97,   143,   173,   213,   223,   231,   258,   261,
               269,
             ...
              9906,  9952, 10027, 10105, 10107, 10161, 10173, 10270, 10475,
             10581],
            dtype='int64', length=319),
 '20 Seasons': Int64Index([1039, 1593, 2521, 3219, 4278], dtype='int64'),
 '20Seasons': Int64Index([  824,  1321,  2463,  2595,  3263,  3867,  3945,  4016,  4085,
              4256,  5199,  7679,  8040, 11521],
            dtype='int64'),
 '21 Seasons': Int64Index([377, 4165], dtype='int64'),
 '21Seasons': Int64Index([708, 1630, 2680, 4077, 6299, 6911, 7984, 8217, 10074, 10496,
             10739],
            dtype='int64'),
 '22 Seasons': Int64Index([1813, 2533, 2564, 3150, 4271], dtype='int64'),
 '22Seasons': Int64Index([3608, 5420, 5553, 8076, 8499], dtype='int64'),
 '23 Seasons': Int64Index([38, 659, 1174, 1295, 1772, 3067, 4326, 4840, 6158], dtype='int64'),
 '23Seasons': Int64Index([3992], dtype='int64'),
 '24 Seasons': Int64Index([162, 747, 2737, 3453, 3470, 5756], dtype='int64'),
 '24Seasons': Int64Index([1094, 2985, 3032, 3077, 5515], dtype='int64'),
 '25 Seasons': Int64Index([773, 3406, 5687, 7375], dtype='int64'),
 '25Seasons': Int64Index([4034], dtype='int64'),
 '26 Seasons': Int64Index([2325, 4007, 7364], dtype='int64'),
 '26Seasons': Int64Index([10604], dtype='int64'),
 '27 Seasons': Int64Index([716, 1610, 2089], dtype='int64'),
 '27Seasons': Int64Index([1787, 3023, 3359, 3673], dtype='int64'),
 '28 Seasons': Int64Index([447, 1656, 2814, 5893], dtype='int64'),
 '29 Seasons': Int64Index([528, 1746, 2106, 4562], dtype='int64'),
 '29Seasons': Int64Index([6497], dtype='int64'),
 '2Seasons': Int64Index([    4,    20,    23,    27,    32,    33,    69,    79,    98,
               101,
             ...
             12205, 12244, 12248, 12251, 12259, 12328, 12338, 12341, 12342,
             12348],
            dtype='int64', length=1882),
 '3 Seasons': Int64Index([   51,   110,   129,   166,   219,   238,   259,   402,   407,
               412,
             ...
              8981,  8986,  9158,  9248,  9274,  9503,  9667,  9840,  9850,
             10040],
            dtype='int64', length=186),
 '31 Seasons': Int64Index([24, 1003, 1221, 1814], dtype='int64'),
 '31Seasons': Int64Index([2142, 3460, 6347, 7722], dtype='int64'),
 '32 Seasons': Int64Index([2390, 2408, 3350], dtype='int64'),
 '32Seasons': Int64Index([1862, 1911, 1914, 2519], dtype='int64'),
 '33 Seasons': Int64Index([3044, 3576], dtype='int64'),
 '33Seasons': Int64Index([5229, 6281], dtype='int64'),
 '34 Seasons': Int64Index([2451, 3585, 3651], dtype='int64'),
 '35 Seasons': Int64Index([1184, 4753], dtype='int64'),
 '36 Seasons': Int64Index([2316, 3020, 3601, 4048], dtype='int64'),
 '37 Seasons': Int64Index([2673], dtype='int64'),
 '38Seasons': Int64Index([3444, 5688], dtype='int64'),
 '39Seasons': Int64Index([4647, 11361], dtype='int64'),
 '3Seasons': Int64Index([    3,     5,     8,     9,    15,    35,    36,    37,    41,
                52,
             ...
             12187, 12222, 12223, 12243, 12246, 12269, 12280, 12302, 12321,
             12330],
            dtype='int64', length=995),
 '4 Seasons': Int64Index([   63,    93,   228,   234,   274,   287,   305,   385,   406,
               433,
             ...
              8709,  9110,  9138,  9234,  9314,  9708,  9727,  9730,  9829,
             10156],
            dtype='int64', length=122),
 '40 Seasons': Int64Index([776], dtype='int64'),
 '40Seasons': Int64Index([5254], dtype='int64'),
 '41 Seasons': Int64Index([2819], dtype='int64'),
 '42 Seasons': Int64Index([2852], dtype='int64'),
 '42Seasons': Int64Index([5193], dtype='int64'),
 '43 Seasons': Int64Index([5535], dtype='int64'),
 '44 Seasons': Int64Index([1461], dtype='int64'),
 '45 Seasons': Int64Index([686, 1906], dtype='int64'),
 '45Seasons': Int64Index([7508], dtype='int64'),
 '48 Seasons': Int64Index([6043], dtype='int64'),
 '4Seasons': Int64Index([    2,     7,    21,    62,    65,    77,   105,   158,   200,
               208,
             ...
             11792, 11806, 11840, 11948, 12132, 12197, 12226, 12288, 12317,
             12326],
            dtype='int64', length=584),
 '5 Seasons': Int64Index([  22,   43,  103,  134,  151,  164,  236,  249,  296,  309,  345,
              380,  512,  524,  588,  663,  679,  901,  905,  924,  979, 1029,
             1053, 1063, 1090, 1133, 1153, 1553, 1775, 1802, 1873, 1940, 2173,
             2422, 2584, 2655, 2679, 2907, 2951, 3059, 3121, 3160, 3186, 3230,
             3261, 3322, 3524, 3567, 3594, 3669, 3852, 3857, 3911, 3922, 4071,
             4074, 4221, 4268, 4482, 4483, 4637, 4724, 4988, 5086, 5132, 5285,
             5357, 6204, 6355, 6420, 6427, 6625, 6707, 6712, 6848, 6991, 7888,
             8003, 8199, 8294, 8510, 8664, 8780, 9187, 9631, 9822, 9930, 9963],
            dtype='int64'),
 '51 Seasons': Int64Index([857, 3514], dtype='int64'),
 '52 Seasons': Int64Index([2423], dtype='int64'),
 '54 Seasons': Int64Index([1708], dtype='int64'),
 '57Seasons': Int64Index([7504], dtype='int64'),
 '5Seasons': Int64Index([    0,    13,    14,    16,    19,    71,    76,    80,    99,
               104,
             ...
             11070, 11247, 11316, 11484, 11669, 11705, 11845, 11985, 11990,
             12323],
            dtype='int64', length=398),
 '6 Seasons': Int64Index([  30,   91,  136,  144,  193,  247,  361,  408,  451,  617,  656,
              853, 1152, 1231, 1261, 1353, 1563, 1574, 1580, 1706, 1752, 1765,
             1962, 2006, 2472, 2477, 2565, 2591, 2731, 2868, 3026, 3040, 3046,
             3360, 3362, 3368, 3405, 3557, 3569, 3607, 3941, 4194, 4441, 4684,
             4836, 4880, 5186, 5213, 5214, 5463, 5467, 5669, 5680, 5691, 5852,
             6518, 6529, 6926, 7169, 7254, 7382, 7465, 8080, 8438, 8474, 9085,
             9376, 9789],
            dtype='int64'),
 '60 Seasons': Int64Index([2950], dtype='int64'),
 '62 Seasons': Int64Index([1166], dtype='int64'),
 '64Seasons': Int64Index([4295], dtype='int64'),
 '6Seasons': Int64Index([   26,    28,    49,    66,    87,    90,    92,    95,   125,
               135,
             ...
             10723, 10779, 10800, 10954, 11592, 11607, 11686, 11862, 12010,
             12234],
            dtype='int64', length=267),
 '7 Seasons': Int64Index([  31,   60,   83,   85,  115,  137,  183,  226,  229,  295,  378,
              400,  488,  489,  523,  536,  673,  680,  793, 1034, 1067, 1171,
             1443, 1445, 1475, 1614, 1652, 1736, 1790, 1798, 1801, 1837, 1954,
             2081, 2237, 2291, 2909, 3010, 3017, 3220, 3238, 3496, 3895, 3896,
             4069, 4114, 4145, 4178, 4199, 4613, 4763, 4869, 4984, 5670, 6349,
             7237, 7651, 8558, 8650, 8675, 8832, 9112],
            dtype='int64'),
 '71 Seasons': Int64Index([6609], dtype='int64'),
 '75 Seasons': Int64Index([1581], dtype='int64'),
 '77 Seasons': Int64Index([2758], dtype='int64'),
 '7Seasons': Int64Index([   39,    40,    68,    74,    81,   114,   124,   127,   138,
               146,
             ...
              9539,  9712,  9744,  9925,  9975, 10127, 10529, 11454, 11513,
             11765],
            dtype='int64', length=163),
 '8 Seasons': Int64Index([  131,   220,   248,   271,   565,   732,   738,   746,  1139,
              1454,  1758,  1977,  2529,  2563,  2695,  2921,  2941,  3621,
              3684,  3902,  4061,  4066,  4189,  4874,  4879,  6149,  6340,
              8602,  8694,  9444, 10273],
            dtype='int64'),
 '82 Seasons': Int64Index([7007], dtype='int64'),
 '84Seasons': Int64Index([3762], dtype='int64'),
 '8Seasons': Int64Index([    1,    18,    34,    59,    73,   118,   186,   253,   285,
               327,
             ...
              9347, 10268, 10520, 10708, 10790, 10846, 11143, 11249, 11295,
             12319],
            dtype='int64', length=125),
 '9 Seasons': Int64Index([ 121,  184,  264,  615,  929, 1097, 1641, 1730, 1804, 2055, 2220,
             2346, 2397, 2512, 2883, 2890, 2988, 3119, 4685, 4855, 4917, 5663,
             5667, 5972, 6379, 6971, 9589],
            dtype='int64'),
 '9Seasons': Int64Index([   11,    47,    54,    61,    75,   112,   233,   405,   474,
               646,   653,   731,   777,   871,   893,  1060,  1082,  1154,
              1173,  1437,  1442,  1449,  1503,  1533,  1719,  1742,  1776,
              1835,  1847,  1949,  2105,  2177,  2304,  2321,  2526,  2647,
              2677,  2794,  2879,  3203,  3216,  3250,  3264,  3483,  3537,
              3548,  3610,  3654,  3808,  3876,  3910,  3994,  4029,  4432,
              4525,  4971,  5168,  5196,  5354,  5413,  5704,  5846,  5850,
              5903,  5931,  5936,  6086,  6254,  6265,  6337,  6406,  6614,
              6791,  6878,  6912,  7099,  7247,  7345,  7436,  7489,  7846,
              7935,  8139,  8179,  8278,  8908,  8934,  9014,  9516,  9549,
              9595,  9644,  9652, 10017, 10374, 10459, 10838],
            dtype='int64')}

In [49]:
group_seasons_grouped.groups.keys()

dict_keys(['-1', '1 Season', '10 Seasons', '10Seasons', '11 Seasons', '11Seasons', '12 Seasons', '12Seasons', '13 Seasons', '13Seasons', '14 Seasons', '14Seasons', '15 Seasons', '15Seasons', '16 Seasons', '160 Seasons', '16Seasons', '17 Seasons', '17Seasons', '18 Seasons', '187 Seasons', '18Seasons', '19 Seasons', '19Seasons', '1Season', '2 Seasons', '20 Seasons', '20Seasons', '21 Seasons', '21Seasons', '22 Seasons', '22Seasons', '23 Seasons', '23Seasons', '24 Seasons', '24Seasons', '25 Seasons', '25Seasons', '26 Seasons', '26Seasons', '27 Seasons', '27Seasons', '28 Seasons', '29 Seasons', '29Seasons', '2Seasons', '3 Seasons', '31 Seasons', '31Seasons', '32 Seasons', '32Seasons', '33 Seasons', '33Seasons', '34 Seasons', '35 Seasons', '36 Seasons', '37 Seasons', '38Seasons', '39Seasons', '3Seasons', '4 Seasons', '40 Seasons', '40Seasons', '41 Seasons', '42 Seasons', '42Seasons', '43 Seasons', '44 Seasons', '45 Seasons', '45Seasons', '48 Seasons', '4Seasons', '5 Seasons', '51 Seasons', '52 Seasons', '54 Seasons', '57Seasons', '5Seasons', '6 Seasons', '60 Seasons', '62 Seasons', '64Seasons', '6Seasons', '7 Seasons', '71 Seasons', '75 Seasons', '77 Seasons', '7Seasons', '8 Seasons', '82 Seasons', '84Seasons', '8Seasons', '9 Seasons', '9Seasons'])

In [52]:
season_keys = group_seasons_grouped.groups.keys()
with pd.ExcelWriter("netflix_by_season.xlsx") as writer:
    
    for key in season_keys:
    #subFrame.to_excel(writer, sheet_name = "subFrame1", index = False)  
    #subFrame2.to_excel(writer, sheet_name = "subFrame2", index = False)
    #print(key, "--> ", yearly_movies_grouped.get_group(key).shape)
        dataframe = group_seasons_grouped.get_group(key)
        dataframe.to_excel(writer, sheet_name = f"{key}", index = False )

In [55]:
yearly_movies_grouped["Year Released"].agg(["min", "max", "count"])

                min   max  count
Year Released
1901           1901  1901      5
1904           1904  1904      1
1914           1914  1914      1
1922           1922  1922      1
1931           1931  1931      1
1932           1932  1932      1
1933           1933  1933      1
1934           1934  1934      1
1940           1940  1940      1
1941           1941  1941      1
1943           1943  1943      1
1945           1945  1945      1
1947           1947  1947      3
1948           1948  1948      3
1949           1949  1949      5
1950           1950  1950      4
1951           1951  1951      5
1952           1952  1952      8
1953           1953  1953      4
1954           1954  1954      4
1955           1955  1955     11
1956           1956  1956      6
1957           1957  1957     12
1958           1958  1958     14
1959           1959  1959      8
1960           1960  1960     12
1961           1961  1961      8
1962           1962  1962     11
1963           1963  1963     11
1964           1964  1964     15
1965           1965  1965     15
1966           1966  1966     15
1967           1967  1967     14
1968           1968  1968     18
1969           1969  1969     14
1970           1970  1970     14
1971           1971  1971     10
1972           1972  1972     18
1973           1973  1973     12
1974           1974  1974     15
1975           1975  1975     23
1976           1976  1976     13
1977           1977  1977     13
1978           1978  1978     22
1979           1979  1979     22
1980           1980  1980     16
1981           1981  1981     18
1982           1982  1982     24
1983           1983  1983     30
1984           1984  1984     27
1985           1985  1985     28
1986           1986  1986     31
1987           1987  1987     30
1988           1988  1988     31
1989           1989  1989     39
1990           1990  1990     40
1991           1991  1991     31
1992           1992  1992     47
1993           1993  1993     46
1994           1994  1994     59
1995           1995  1995     61
1996           1996  1996     66
1997           1997  1997     74
1998           1998  1998     86
1999           1999  1999    105
2000           2000  2000     94
2001           2001  2001    108
2002           2002  2002    114
2003           2003  2003    141
2004           2004  2004    172
2005           2005  2005    217
2006           2006  2006    251
2007           2007  2007    301
2008           2008  2008    328
2009           2009  2009    368
2010           2010  2010    449
2011           2011  2011    574
2012           2012  2012    671
2013           2013  2013    715
2014           2014  2014    803
2015           2015  2015    930
2016           2016  2016   1172
2017           2017  2017   1319
2018           2018  2018   1036
2019           2019  2019    836
2020           2020  2020    467

In [60]:
yearly_movies_grouped["IMDB Rating"].agg(["min", "max", "count", "mean", "std"]).fillna("missing value")

,min,max,count,mean,std
Year Released,,,,,
1901,7.4,7.4,1,7.4,missing value
1904,missing value,missing value,0,missing value,missing value
1914,missing value,missing value,0,missing value,missing value
1922,8,8,1,8,missing value
1931,missing value,missing value,0,missing value,missing value
...,...,...,...,...,...
2016,2.2,9.5,829,6.98806,1.12773
2017,1.2,9.3,814,6.9129,1.14552
2018,1.8,9.7,823,6.89696,1.14434
2019,1.6,9.4,774,6.89961,1.11862
2020,2.1,9.2,442,6.80475,1.16936

In [63]:
filled_data = all_tv_shows["Content Rating"].fillna("no rating", inplace = True)

In [65]:
all_tv_shows

,Series Title,Year Released,Content Rating,IMDB Rating,R Rating,Genre,Description,No of Seasons,Streaming Platform
0,Breaking Bad,2008,18+,9.5,100,"Crime,Drama","When Walter White, a New Mexico chemistry teac...",5Seasons,Netflix
1,Game of Thrones,2011,18+,9.3,99,"Action & Adventure,Drama",Seven noble families fight for control of the ...,8Seasons,"HBO MAX,HBO"
2,Rick and Morty,2013,18+,9.2,97,"Animation,Comedy",Rick is a mentally-unbalanced but scientifical...,4Seasons,"Free Services,HBO MAX,Hulu"
3,Stranger Things,2016,16+,8.8,96,"Drama,Fantasy","When a young boy vanishes, a small town uncove...",3Seasons,Netflix
4,The Boys,2019,18+,8.7,95,"Action & Adventure,Comedy",A group of vigilantes known informally as “The...,2Seasons,Prime Video
...,...,...,...,...,...,...,...,...,...
12348,A Fishing Story with Ronnie Green,2017,no rating,NaN,-1,"2017,Prime Video",A Fishing Story with Ronnie Green has one or m...,2Seasons,"Prime Video,fuboTV"
12349,CMT Most Shocking,2003,no rating,NaN,-1,-1,-1,-1,-1
12350,NHL Road to the Outdoor Classics,2016,no rating,NaN,-1,"2016,Prime Video",Road to the NHL Outdoor Classics takes us deep...,1Season,"Prime Video,Epix"
12351,Addy Media,2018,no rating,NaN,-1,"2018,Prime Video",Addy Media has one or more episodes streaming ...,1Season,Prime Video
12352,My Dream Derelict Home,2014,no rating,NaN,-1,"2014,Free Services",My Dream Derelict Home has one or more episode...,1Season,"Free Services,Prime Video"

In [67]:
filled_data = all_tv_shows["Content Rating"].fillna("no rating")

all_tv_shows["filled_ratings"] = filled_data

In [68]:
all_tv_shows

,Series Title,Year Released,Content Rating,IMDB Rating,R Rating,Genre,Description,No of Seasons,Streaming Platform,filled_ratings
0,Breaking Bad,2008,18+,9.5,100,"Crime,Drama","When Walter White, a New Mexico chemistry teac...",5Seasons,Netflix,18+
1,Game of Thrones,2011,18+,9.3,99,"Action & Adventure,Drama",Seven noble families fight for control of the ...,8Seasons,"HBO MAX,HBO",18+
2,Rick and Morty,2013,18+,9.2,97,"Animation,Comedy",Rick is a mentally-unbalanced but scientifical...,4Seasons,"Free Services,HBO MAX,Hulu",18+
3,Stranger Things,2016,16+,8.8,96,"Drama,Fantasy","When a young boy vanishes, a small town uncove...",3Seasons,Netflix,16+
4,The Boys,2019,18+,8.7,95,"Action & Adventure,Comedy",A group of vigilantes known informally as “The...,2Seasons,Prime Video,18+
...,...,...,...,...,...,...,...,...,...,...
12348,A Fishing Story with Ronnie Green,2017,no rating,NaN,-1,"2017,Prime Video",A Fishing Story with Ronnie Green has one or m...,2Seasons,"Prime Video,fuboTV",no rating
12349,CMT Most Shocking,2003,no rating,NaN,-1,-1,-1,-1,-1,no rating
12350,NHL Road to the Outdoor Classics,2016,no rating,NaN,-1,"2016,Prime Video",Road to the NHL Outdoor Classics takes us deep...,1Season,"Prime Video,Epix",no rating
12351,Addy Media,2018,no rating,NaN,-1,"2018,Prime Video",Addy Media has one or more episodes streaming ...,1Season,Prime Video,no rating
12352,My Dream Derelict Home,2014,no rating,NaN,-1,"2014,Free Services",My Dream Derelict Home has one or more episode...,1Season,"Free Services,Prime Video",no rating

In [71]:
pd.crosstab(all_tv_shows["Year Released"], all_tv_shows["filled_ratings"], margins = True)

filled_ratings  13+   16+   18+    7+   all  no rating    All
Year Released
1901              0     0     0     0     1          4      5
1904              0     0     0     0     0          1      1
1914              0     0     0     0     0          1      1
1922              0     0     0     0     0          1      1
1931              0     0     0     0     0          1      1
...             ...   ...   ...   ...   ...        ...    ...
2017              0   240   137   120    56        766   1319
2018              0   230   167   121    63        455   1036
2019              0   199   193   103    43        298    836
2020              0   101   137    60    26        143    467
All               7  2581  1462  2048  1134       5121  12353

[87 rows x 7 columns]